:root {
    --white: #E9F5DB;
    --light-green: #CFE1B9;
    --cold-green: #718355;
    --middl-green: #B5C99A;
    --font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background: #f8f7f4;
    padding-top: 70px;
    overflow-x: hidden;
    padding-right: 10px;
    
}